header
	.container.inner
		img(src="https://s3.amazonaws.com/canalwest/images/svg/logo-standard__lockup.svg" alt="Logo of Canal West Studio." id="logo" class="header-logo")
		.contact
			a(href="mailto:mcrundo@gmail.com") Contact
		//- nav
			ul
				li Work
				li Clients
				li Contact
