div.section
	h2= subtitle
	p #{title} is a bespoke consulting service located in Washington, D.C. providing the latest technical solutions combined with a traditional client-friendly approach to <em>change</em> the way you and your business look at technology.