div.section
	h2= subtitle
	p Canal West Studio is a bespoke consulting service providing technical solutions combined with a traditional client-friendly, proven success-driven approach to deliver what is best for a professional firm.