div.section
	h2 Technology Capabilities
	p <strong>Canal West</strong> works with the latest and greatest technologies but we can also assess and improve your existing platform. Listed below are our most current specialties.
div.section.container-collections
	div.container-collection
		h3 JavaScript/Node
		ul
			li MEAN (Angular)
			li MERN (React &amp; React Native)
	div.container-collection
		h3 Mobile Apps
		ul
			li iOS &amp; Android 
			li Progressive Web Apps (PWA)
	div.container-collection
		h3 CRM &amp; Digital Marketing
		ul
			li FileMaker Pro (Custom CRM)
			li Salesforce (APEX Dev)
	div.container-collection
		h3 Ruby &amp; Python
		ul
			li Rails
			li Django
	div.container-collection
		h3 Application Architecture
		ul
			li API Architecture
			li FileMaker Pro Advanced
	div.container-collection
		h3 E-Commerce/Business
		ul
			li Shopify (Development)
			li QuickBooks Online
	div.container-collection
		h3 Media Production
		ul
			li Video (Premiere/Final Cut)
			li Photography
			li Illustrator &amp; InDesign
	div.container-collection
		h3 Project Management
		ul
			li Jira
			li Kanbanchi
			li SmartSheets
	div.container-collection
		h3 Accessibility
		ul
			li 508 
			li ARIA
			li Compliance Auditing