extends layout

block content
	include partials/_header
	div.container
		div.inner.panel
			h1= title
			include sections/_about
			include sections/_services
			include sections/_techs
			include sections/_workflow