extends layout

block content
	include partials/_header
	div.container
		div.inner.panel
			h1= title
			div.section
				h2= subtitle
				p Canal West Studio is a bespoke consulting service providing technical solutions combined with a traditional client-friendly, proven success-driven approach to deliver what is best for a professional firm.
			div.section
				h2 Services
				p Software Development, Full-Service Branding, Campaign Fulfillment, UI/UX, Campaign Management, Stastical Reporting, Project Management, Digital Marketing, Project Management, Analytical Analysis, Graphic and Print Design.
			div.section
				h2 Technology Capabilities
				p <strong>Canal West</strong> works with the must cutting-edge technologies but can alao assess and improve your existing platform. Listed below are our most current specialties, but we also strive to suit your existing systems.
			div.section.container-collections
				div.container-collection
					h3 JavaScript/Node
					ul
						li MEAN (Angular)
						li MERN (React &amp; React Native)
				div.container-collection
					h3 Advanced E-Commerce
					ul
						li Shopify (Development)
						li Blackbaud or other platforms
				div.container-collection
					h3 CRM &amp; Digital Marketing
					ul
						li MailChimp
						li Salesforce (APEX)
				div.container-collection
					h3 Ruby &amp; Python
					ul
						li Rails
						li Django
				div.container-collection
					h3 Application Architecture
					ul
						li API Architecture
						li 3rd Party API Integration
				div.container-collection
					h3 Business Services
					ul
						li Google Business Suite
						li Adobe Creative Suite
				div.container-collection
					h3 Video &amp; Design
					ul
						li Video (Premiere/Final Cut)
						li Photography
						li Illustrator &amp; InDesign
				div.container-collection
					h3 Project Management
					ul
						li Jira
						li Kanbanchi
						li SmartSheets
				div.container-collection
					h3 Analytics &amp; Marketing
					ul
						li Google Analytics
						li Google Tag Manager
						li Custom Solutions
			div.section.container-collections
				h2 Work &amp; Case Studies
				p The privacy of our clients is important. If you would like to view specific examples of project, please <br /><a href="mailto:mcrundo@gmail.com">contact us</a>. Below is a summary of some recent recent work:
				div.panel.panel--inner
					h3 Client 1: Undisclosed
					p A consulting start-up in the building commissioning industry. The clients were tech-saavy and had an idea of what they wanted, but still needed guidance to achieve their desired proprietary application. 
				div.panel.panel--inner.panel--under
					h4
						em Step 1: Set Up Services
					h5 Domain Registration, Google Suite, Integrating DNS Services
					ul
						li The first steps to initialize the Client's online services was registering their domains. 
						li Next, <em><strong>G Suite</strong></em> was set up, allowing email and storage for standard <strong>Documents</strong> and <strong>Spreadsheets</strong>, as part of the cloud storage solution <strong>Drive</strong> &ndash; a full data management service used and accessed familiarly like any other folder on your computer or device. 
						li Best of all, <em><strong>G Suite</em></strong> products are great for collaboration, along with their <strong>Hangouts</strong> platform for text, screenshare, or video conferences. 
						li All <em><strong>G Suite</em></strong> apps are supported and available in your mobile or tablet device's App Store. 
						li Finally, the Client's domain and <em><strong>G Suite</em></strong> were connected by DNS, conveniently making all apps accessible to employees in browser (<em>ex: mail.company.com</em>, <em>drive.company.com</em>, etc.).
				div.panel.panel--inner.panel--under
					h4
						em Step 2: Project Management
					h5 Kanbanchi
					p The Client had a definite need for a project management solution. Together, we explored common services like Jira, Trello, and ultimately <strong>Kanbanchi</strong>. The latter was selected based on their preference for a simple UI, but also very powerful capabilities that integrate well with G Suite and other services.
				div.panel.panel--inner.panel--under
					h4
						em Step 3: Branding
					h5 Adobe Illustrator &amp; InDesign
					p After gaining a solid understanding of the Client's vision, work moved forward on putting together a branding kit, including: vector logos, custom typefaces, color palette, and a style guide defining internal and external branding guidelines.
				div.panel.panel--inner.panel--under
					h4
						em Step 4: Website + Custom CMS
					h5 Ruby on Rails
					p Time to get a website! <strong><em>Canal West</em></strong> developed a bespoke CMS (</em>Content Management System</e>) which allowed logged-in staff of the Client to access a private section to easily enter and manage their own content, which then displayed on their live site served via an API.
				div.panel.panel--inner.panel--under
					h4
						em Step 5: Custom "Portal Application"
					h5 MEAN (MongoDB/Express/Angular/Node) + RestfulAPI
					p The Client required a collection of apps to automate and organize their workflow, in addition to simplifying access to project data materials. The ultimate vision of this application is to license as software for similar companies in their industry.
					p Due to a quick rush to market, the Client used FileMaker Pro to perform their necessary tasks. This was not an issue and allowed a smooth transition to their production app through FileMaker's API.
					p 
						em 
							strong The "Portal Application" 
					ul 
						li Node API with user authentican for employees and subcontractors
						li Re-creation and improvement of workflow migration from FileMakerPro to custom applets
						li MongoDB with double backup redundancy and Google Drive integration
						li Angular forms and custom user form creation
						li Migration of data to/from FileMaker Pro during transition period
						li All applications provide a consistent responsive experience on desktop, tablet, and mobile devices
	include partials/_footer

