doctype html
html
	head
		title Canal West Studio
		meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
		meta(name='Canal West Studio', content='A boutique, full-service software, media, and digital marketing consulting firm located in Washington, DC')
		meta(name='Web Development, Design, Web Apps, Progressive Web Apps, Software Development, Software Engineering, React, React Native, Angular, Node, Shopify, MEAN, MERN, Salesforce, MailChimp, JavaScript, Google Docs, Google Business, GSuite, Rails, Django, Blackbaud, Google Analytics, Jira, Kanbanchi, SmartSheets')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
	script.
		script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-117286845-2')
	script.
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-117286845-2');

