* {
  box-sizing: border-box;
}
html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'montserratblack';
  src: url("../fonts/montserrat-black-webfont.woff2") format('woff2'), url("../fonts/montserrat-black-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratbold';
  src: url("../fonts/montserrat-bold-webfont.woff2") format('woff2'), url("../fonts/montserrat-bold-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserrathairline';
  src: url("../fonts/montserrat-hairline-webfont.woff2") format('woff2'), url("../fonts/montserrat-hairline-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratlight';
  src: url("../fonts/montserrat-light-webfont.woff2") format('woff2'), url("../fonts/montserrat-light-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'montserratregular';
  src: url("../fonts/montserrat-regular-webfont.woff2") format('woff2'), url("../fonts/montserrat-regular-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'moonbold';
  src: url("../fonts/moon_bold_0-webfont.woff2") format('woff2'), url("../fonts/moon_bold_0-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'moonlight';
  src: url("../fonts/moon_light_0-webfont.woff2") format('woff2'), url("../fonts/moon_light_0-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'webfontbold';
  src: url("../fonts/nevis-webfont.woff2") format('woff2'), url("../fonts/nevis-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'square_721_blkitalic';
  src: url("../fonts/sqr721ki-webfont.woff2") format('woff2'), url("../fonts/sqr721ki-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'square_721_blkregular';
  src: url("../fonts/sqr721kn-webfont.woff2") format('woff2'), url("../fonts/sqr721kn-webfont.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  background: rgba(222,205,190,0.4);
  border-bottom: 25px solid #00b7f1;
  border-top: 15px solid #f16522;
  -webkit-box-shadow: inset 0px 10px 15px 0px #fff;
  -moz-box-shadow: inset 0px 10px 15px 0px #fff;
  -ms-box-shadow: inset 0px 10px 15px 0px #fff;
  -o-box-shadow: inset 0px 10px 15px 0px #fff;
  box-shadow: inset 0px 10px 15px 0px #fff;
  color: #23221d;
  font: 18px "montserratlight", Helvetica, Arial, sans-serif;
}
h1 {
  font: 42px "moonlight", Helvetica, Arial, sans-serif;
}
h2 {
  font: 32px "square_721_blkitalic", Helvetica, Arial, sans-serif;
}
h3 {
  font: 20px "montserratlight", Helvetica, Arial, sans-serif;
}
h4 {
  font: 18px "montserratlight", Helvetica, Arial, sans-serif;
  font-style: italic;
  padding: 5px;
  -webkit-text-stroke: 1px #23221d;
}
h5 {
  font: 23px "montserratlight", Helvetica, Arial, sans-serif;
  padding: 5px 10px;
}
h6 {
  font: 14px "square_721_blkitalic", Helvetica, Arial, sans-serif;
}
a {
  color: rgba(0,183,241,0.9);
}
header {
  border-top: 5px solid #00b7f1;
  padding-top: 50px;
}
header .header-logo {
  max-width: 420px;
}
header .contact a,
header .contact a:visited,
header .contact a:hover,
header .contact a:active {
  bottom: 20px;
  color: #23221d;
  float: right;
  font-family: "square_721_blkitalic";
  font-size: 32px;
  font-weight: bold;
  line-height: 10px;
  position: relative;
  -webkit-text-stroke: 2px rgba(241,101,34,0.2);
  text-decoration: none;
}
nav ul {
  font-size: 24px;
  font-weight: bold;
  margin-left: 148px;
  padding: 0;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}
.container-collections {
  margin: 0 auto;
  overflow: auto;
  padding: 0 0 40px 0;
}
.container-collections :hover h3 {
  border-bottom: 4px solid #00b7f1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.container-collections h3 {
  border-bottom: 4px solid #f16522;
  margin: 3px 0;
  padding: 5px 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.container-collections ul {
  float: left;
  padding: 2px 0px 2px 5px;
}
.container-collections li {
  list-style: none;
  margin: 0 5px 0 5px;
}
.container-collection {
  background: rgba(212,211,227,0.1);
  border: 2px solid #f16522;
  display: inline-block;
  margin: 10px;
  min-width: 290px;
  padding: 0 0px 10px 0px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.container-collection:hover {
  background: rgba(212,211,227,0.2);
  border: 2px solid rgba(0,183,241,0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.container-collection h3 {
  padding-bottom: 5px;
  padding-left: 10px;
  text-align: left;
}
.container-collection p,
.container-collection ul {
  padding: 5px 0px 0 10px;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.section {
  background: rgba(255,255,255,0.65);
  border: 4px solid rgba(255,255,255,0.9);
  margin: 15px 0;
  padding: 10px 15px;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.section p {
  padding: 5px 15px;
}
.section h2 {
  -webkit-text-stroke: 2px rgba(241,101,34,0.3);
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.section h3 {
  font-weight: bold;
  padding: 5px 15px 5px 10px;
}
.section:hover {
  background: #fff;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.section:hover h2 {
  -webkit-text-stroke: 2px rgba(241,101,34,0.4);
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.panel {
  background: rgba(255,255,255,0.65);
  border: 4px solid rgba(255,255,255,0.9);
  display: block;
  margin: 30px auto 90px auto;
  overflow: auto;
  padding: 40px 50px;
}
.inner {
  margin: 0 auto;
  max-width: 1080px;
  position: relative;
  width: 100%;
}
.inner .panel:hover {
  background: #fff;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
address {
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
}
address ul li {
  list-style: none;
  font-size: 24px;
}
.panel--inner {
  margin: 15px 20px;
  padding: 0px 10px;
}
.panel--inner h3 {
  border-bottom: 6px solid #00b7f1;
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -ms-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}
.panel--inner h4 {
  color: #23221d;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
.panel--inner:hover h4 {
  color: #f16522;
  -webkit-text-stroke: 1px #f16522;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -ms-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}
.panel--inner ul {
  padding-left: 40px;
}
.panel--inner li {
  list-style: square;
  margin: 5px 0;
}
.panel--inner:hover h3 {
  border-bottom: 6px solid #f16522;
  color: #00b7f1;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}
footer {
  background: #f16522;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(255,255,255,0.9);
  -moz-box-shadow: 0px 5px 10px 0px rgba(255,255,255,0.9);
  -ms-box-shadow: 0px 5px 10px 0px rgba(255,255,255,0.9);
  -o-box-shadow: 0px 5px 10px 0px rgba(255,255,255,0.9);
  box-shadow: 0px 5px 10px 0px rgba(255,255,255,0.9);
  font-family: 'montserratbold';
  height: 260px;
  padding: 65px 0;
  width: 100%;
}
footer img.wordmark {
  max-width: 300px;
}
footer address {
  font-style: normal;
}
