h1
	font-size 34px
	text-align center
	
h5
	font-size 18px

header
	padding 15px 20px
	.header-logo
		max-width 240px
	.contact
		a, a:visited, a:active
			font-size 24px
			top -5px
			
.section
	margin 10px 0
	padding 5px 5px 0px 5px
	h2
		font-size 22px
	p
		font-size 16px
		padding 5px 10px
		
			
.panel
	padding 10px 5px
	
.panel--inner
	font-size 16px
	margin 0
	padding 0
	h3
		padding 5px 2px 5px 2px
	ul
		margin-left 10px
		padding-left 18px
		
.panel--under
	border-top 2px solid $orange
	margin-top 5px
	padding-top 5px
	
.container-collection
	
		
.container-collection
	display block
	margin 10px auto 20px auto
	overflow auto
	width 95%
	
footer
	padding 25px
	.wordmark
		display block
		margin 0 auto
		width 230px
address
	position relative
	ul
		margin-top 25px
		li
			font-size 18px